.navbar-inverse {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.travel_main {
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel_main img {
    width: 100%;
}

.travel_main hr {
    width: 230px;
}

.travel_main h5,
.travel_main p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: orange;
}

.e_l {
    margin-top: 13px;
}

.e_l h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.e_l img {
    border-radius: 25px;
}

.e_l p {
    margin-top: 10px;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}
.header_entrepreneur{
    line-height: 2;
}
.book{
    cursor: pointer;
}
.book hr{
    margin-bottom: 10px;
}
.modal-content{
    margin-top: 100px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;
}
.modal-body{
    text-align: center;
}